<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Test APK only: controlled cross-UID receiver to verify real temporary file grants. -->
        <activity android:name="com.example.purebrowser.library.FixtureFileReceiver" android:exported="true" android:label="本地视频验收接收器">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
